<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{id}}</title>
</head>
<body>
    <p>Customer id: {{customerInfo.userId}}</p>
    <p>Your Balance: {{customerInfo.moneyBalance}}</p>

    {% for vehicle in vehicleInfo %}
        <div style="background-color: lightgray;">
            <p>{{vehicle.carId}}</p>
            <p>{{vehicle.make}}</p>
            <p>{{vehicle.model}}</p>
            <p>{{vehicle.images}}</p>
            <p>${{vehicle.price}}</p>
            <a href="{% url 'customer:vehiclePage' customerInfo.userId vehicle.carId %}">Book Now</a>
        </div>
    {% endfor %}    
</body>
</html>



\