<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{id}}</title>
</head>
<body>
    <p>Username: {{request.user}}</p>
    <p>Customer id: {{request.user.profile.id}}</p>
    <p>Your Balance: ${{request.user.profile.moneyBalance}}</p>
    <p>Your email: {{request.user.email}}</p>
    <p>Your role: {{request.user.profile.role}}</p>
    <p>Your hours worked: {{request.user.profile.hoursWorked}}</p>

    {% for vehicle in vehicleInfo %}
        <div style="background-color: lightgray;">
            <p>{{vehicle.carId}}</p>
            <p>{{vehicle.make}}</p>
            <p>{{vehicle.model}}</p>
            <p>{{vehicle.images}}</p>
            <p>${{vehicle.price}}</p>
            <a href="{% url 'customer:vehiclePage' request.user.profile.id vehicle.carId %}">Book Now</a>
        </div>
    {% endfor %}    
</body>
</html>

