{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    -->
  </head>
  <body>
  <h1>All Vehicles</h1>
    {% if vehicles %}
      <ul>
      {% for vehicle in vehicles %}
          <li>{{ vehicle.vehicleYear }} {{ vehicle.vehicleMake }} {{ vehicle.vehicleModel }} <img src="{{ vehicle.vehicleImage.url }}" class="vehicle-image"></li>
      {% endfor %}
      </ul>
    {% else %}
        <p>No vehicles are available.</p>
    {% endif %}
  </body>
</html>
