{% extends "employee_base.html" %}

{% block title %}Retail{% endblock %}

{% block content %}
  <a href="/employee/addvehicle" id="add-vehicle-button">Add Vehicle</a>
  
  <a href="/employee/repo" id="switch-to-repo-button">Go To Vehicle Retrieval</a>

  <h2>All Vehicles</h2>
    {% if vehicles %}
      <div id="vehicles-list">
      {% for vehicle in vehicles %}
          <div class="vehicle-card">
            <a href="/employee/vehicle/{{ vehicle.vehicleID }}">
            {% if vehicle.vehicleImage %}
              <img src="{{ vehicle.vehicleImage.url }}" class="vehicle-image">
            {% endif %} 
            <div class="vehicle-details">{{ vehicle.vehicleYear }} {{ vehicle.vehicleMake }} {{ vehicle.vehicleModel }}</div>
            </a>
          </div>
      {% endfor %}
      </div>
    {% else %}
        <p>No vehicles are available.</p>
    {% endif %}
{% endblock %}
