{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Vehicle</title>
    <link rel="stylesheet" href="{% static 'temp_style.css' %}"/>
  </head>
  <body>
  <h3>Today is {{today.today}}</h3>
  <a href="/employee/">&lt;--Employee Home</a>
  <h1>{{ vehicle.vehicleYear }} {{ vehicle.vehicleMake }} {{ vehicle.vehicleModel }}</h1>
    {% if vehicle.vehicleImage %}
      <img src="{{ vehicle.vehicleImage.url }}" class="vehicle-image-main">
    {% endif %}
    
    {% if todayReservation %}
      <h2>Reservation Beginning Today!</h2>
      <a id="checkin-button" href="">Check In Customer</a>
    {% else %}
      <p>No reservations beginning today.</p>
    {% endif %}
    
  <h2>All Future Reservations</h2>
    {% if reservations %}
      <ul>
      {% for reservation in reservations %}
          <li>
            {{ reservation.startDate.isoformat }} to {{ reservation.endDate.isoformat }} by user {{ reservation.userId }}
            </li> 
      {% endfor %}
      </ul>
    {% else %}
        <p>No reservations have been made.</p>
    {% endif %}
    
    {{ calendarThis }}
    {{ calendarNext }}
    {{ calendarNextNext}}
    
  </body>
</html>
