{% extends "employee_base.html" %}

{% block title %}{{ vehicle.vehicleMake }} {{ vehicle.vehicleModel }}{% endblock %}

{% block content %}
  <a href="/employee/">&lt;--Employee Home</a>
  <h1>{{ vehicle.vehicleYear }} {{ vehicle.vehicleMake }} {{ vehicle.vehicleModel }}</h1>
    {% if vehicle.vehicleImage %}
      <img src="{{ vehicle.vehicleImage.url }}" class="vehicle-image-main">
    {% endif %}
    
    {% if todayReservation %}
      <h2>Reservation Beginning Today!</h2>
      <a id="checkin-button" href="">Check In Customer</a>
    {% else %}
      <p>No reservations beginning today.</p>
    {% endif %}
    
    <a href="/employee/addreservation/{{ vehicle.vehicleID }}">Add Reservation</a>
    
  <h2>All Future Reservations</h2>
    {% if reservations %}
      <ul>
      {% for reservation in reservations %}
          <li>
            {{ reservation.startDate.isoformat }} to {{ reservation.endDate.isoformat }} by user {{ reservation.userId }}
            </li> 
      {% endfor %}
      </ul>
    {% else %}
        <p>No reservations have been made.</p>
    {% endif %}
    
    {{ calendarThis }}
    {{ calendarNext }}
    {{ calendarNextNext}}
{% endblock %}
